@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
    font-size: 1em;
}

.container-header {
    position: sticky;
    top: 0;
    background-color: #EEEEEEFF;
    width: 100%;
    padding: 0.5em 5em;
    z-index: 1;
}

.blog-name a {
    text-decoration: none;
}

p.user::before {
    content: "Published by: ";
    color: #00000077;
}

.blog-content p {
    display: -webkit-box;            /* Vytvorenie flexbox kontajnera */
    -webkit-box-orient: vertical;   /* Nastavenie orientácie na vertikálnu */
    -webkit-line-clamp: 3;          /* Obmedzenie na 3 riadky */
    overflow: hidden;                /* Skrytie pretečeného textu */
    text-overflow: ellipsis;        /* Pridanie "..." na konci, ak je text dlhší */
}

.blog-whoposted-img {
    padding: 3em;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.blog-body {
    text-align: justify;
}
.add-blog-li-inactive {
    color: gray; /* Zmení farbu textu */
    pointer-events: none; /* Zakaže akúkoľvek interakciu s týmto prvkom */
}


@media (max-width: 768px) {  /* Pre mobilné zariadenia */
    .blog-whoposted-img {
        display: none;
    }
    .container-header {
        padding: 0em 2em 1em 2em;
    }
}